net_type = layeredalexet
train_data_loc = parser/carsetmini.csv
test_data_loc = parser/carsetmini.csv
images_loc = images/
save_loc = classifier.pt
load_loc = classifier.pt
epochs = 5
criterion = crossentropy
optimizer = sgd
train_transform = main
test_transform = main
learning_rate = 0.001 0.002 0.003
layers = 1024,R,D,1024
momentum = .5
grayscale = 0
record = 1
record_location = results.csv