net_type = transfer
train_data_loc = parser/cartrainingsetmini.csv
test_data_loc = parser/cartrainingsetmini.csv
images_loc = images/
save_loc = classifier.pt
load_loc = classifier.pt
epochs = 5
criterion = crossentropy
optimizer = sgd
train_transform = main
test_transform = main
learning_rate = 0.001 0.002 0.003
layers = 0
momentum = .5 .6