net_type = resnet transfer
train_data_loc = parser/carsetmini.csv
test_data_loc = parser/carsetmini.csv
images_loc = images/
save_loc = 0 0
load_loc = 2018-03-21T14-24-04_resnet.pt 2018-03-21T14-24-04_transfer.pt
epochs = 1 1
criterion = crossentropy crossentropy
optimizer = sgd sgd
train_transform = main
test_transform = main
