net_type = layeredresnet
train_data_loc = parser/carsetmini.csv
test_data_loc = parser/carsetmini.csv
images_loc = images/
save_loc = classifier.pt
load_loc = classifier.pt
epochs = 2
criterion = crossentropy
optimizer = sgd
train_transform = main
test_transform = main
learning_rate = 0.001
layers = R,D,1024,R,D,512 R,D,1024
momentum = .5
grayscale = 0
record = 1
record_location = results.csv